@charset "utf-8";

/* webfont */
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

html,body,div,p,ul,ol,li,dl,dt,dd,span,strong,table,th,td,em,form,textarea {
    margin: 0;
    padding: 0;
}

html {
    font-size: 20px;
}

body {
    font-family: 'Pretendard-Regular', 'GmarketSansMedium';
    line-height: 1.4rem;
    color: #5A5857;
}

ol,ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

#wrap {
    min-width: 1400px;
}

/* top */
#top {
    background-color: #412722;
    color: white;
    font-size: 13px;
    height: 40px;
}

.inner_top {
    width: 1320px;
    margin: 0 auto;
}

.nav {
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav>li>a {
    display: block;
    margin: 0 6px;
}

/* header */
#header{
    margin: 0 auto;
    width: 1320px;
}
.inner_header{
    color: #412722;
    align-items: center;
    height: 110px;
    display: flex;
    justify-content: space-between;
}
.gnb{
    font-family: 'GmarketSansMedium';
    display: flex;
}
.gnb> li> a {
    border-bottom:solid 3.8px transparent;
    display: block;
    padding: 44px 25px 35px;
}
.gnb> li> a:hover {
    color: #B48963;
    border-bottom:solid 3.8px #B48963;
}
.icon{
    display: flex;
}
.icon> li> a {
    display: block;
    margin: 0 12px;
}
/* section1 */
#section{
    background: url(../images/sub4_images/bg.jpg) no-repeat center;
    background-size: cover;
    height: 580px;
}
.inner_section{
    padding-top: 45px;
    margin: 0 auto;
    width: 1320px;
}
.bg{
    text-align: center;
    height: 488px;
    width: 1320px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
}
.title {
    padding-top: 40px;
    color: #412722;
    font-size: 30px;
    font-weight: bold;
}
.form_wrap{
    position: relative;
}
.button{
    position: absolute;
    bottom: 10px;
    left: 622px;
    text-align: center;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #988161;
    width: 70px;
    border-radius: 10px;
    display: block;
}
.form{
    padding: 20px 80px 0 80px;
    display: flex;
    justify-content: space-around;
}
table{
    margin: 0 30px 50px 0;
}
th{
    font-size: 17px;
    color: #412722;
    text-align: left;
}
td{
    padding-left: 10px;
}
.input_wrap{
    display: flex;
    align-items: center;
}
.input_wrap input,.input_wrap select, .textarea_wrap textarea{
    border-radius: 12px;
    border: 0.5px solid #9881613a;
    outline: none;
    display: block;
    padding: 6px 10px;
    box-sizing: border-box;
    color: #444;
}
.input_wrap input::placeholder{
    color: #444;
}
.input_wrap span{
    display: block;
    padding: 0 10px;
}
.input_wrap input[type="button"]
{
    border: none;
    background-color: #9881613a;
    color: #412722;
    margin: 0 20px 0 10px;
    cursor: pointer;
}
.textarea_wrap textarea{
    width: 100%;
    height: 90px;
    resize: vertical;
    /*
    resize: both; 상자조절가능
    resize: none; 상자조절 기능없음
    resize: horizontal; 좌우조절 가능
    resize: vertical; 상하조절 가능
    */
}

/* footer */
#footer_wrap {
    overflow: hidden;
}

.up {
    position: fixed;
    right: 70px;
    bottom: 50px;
}
#footer1 {
    font-size: 15px;
    padding-top: 20px;
    text-align: center;
    font-family: 'GmarketSansMedium';
    background-color: #EEE2D0;
    height: 200px;
    color: #412722;
    box-sizing: border-box;
}

.inner_footer1 {
    margin: 0 auto;
    width: 1320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_title {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 30px;
}

.number {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 20px;
}

span {
    padding: 7px;
    font-weight: bold;
}

.sns {
    display: flex;
    padding: 45px 50px 45px;
}

.sns li {
    padding: 10px;
}

#footer2 {
    padding-top: 20px;
    font-size: 15px;
    font-family: 'GmarketSansMedium';
    text-align: center;
    color: #ffffff;
    background-color: #412722;
    height: 150px;
    font-size: 13px;
    box-sizing: border-box;
}

.inner_footer2 {
    margin: 0 auto;
    width: 1320px;
}

.footer_gnb {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_gnb li {
    margin: 5px;
}